<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">

    <testsuites>
        <testsuite name="all">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
        <testsuite name="linux">
            <file>tests/ChromeTest.php</file>
            <file>tests/FirefoxTest.php</file>
        </testsuite>
        <testsuite name="headless">
            <file>tests/PhantomJSTest.php</file>
        </testsuite>
        <testsuite name="windows">
            <file>tests/ChromeTest.php</file>
            <file>tests/FirefoxTest.php</file>
            <file>tests/IETest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
